* {
    margin: 0;
    padding: 0;
    font-family: Roboto, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.full-screen {
    height: 100vh;
    display: flex;
}

.sidebar {
    background-color: rgb(57, 137, 202);
    color: white;
    width: 300px;
    display: flex;
    flex-direction: column;
    padding: 16px;
}

.logo-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 32px;
}

h1 {
    font-size: 24px;
}
.logo-container > svg {
    height: 50px;
    aspect-ratio: 1;
    margin-right: 12px;
}


.sidebar-grid {
    display: grid;
    grid-template:  repeat(10, 24px) / 24px 1fr;
    font-size: 20px;
    font-weight: 700;
    gap: 16px;
}

.sidebar-grid > svg {
    fill: white;
    height: 24px;
    aspect-ratio: 1;
}

.main {
    height: 100%;
    width: 100%;
}
.grid {
    display: grid;
    grid-template: 24px 1fr 1fr 1fr / 3fr 3fr 2fr;
    gap: 16px;
}

.el {
    background-color: blueviolet;
}
.header {
    display: grid;
    grid-auto-flow: row;
    gap: 16px;
    padding: 24px 32px;
}
.first {
    display: flex;
    align-items: center;

}

.icon {
    height: 24px;
    aspect-ratio: 1;
    margin-right: 16px;
}

.input-field {
    width: auto;
    height: 32px;
    flex: 1;
    border: none;
    border-radius: 24px;
    background-color: rgb(226, 226, 226);
    margin-right: 48px;
}

.profile-img {
    height: 32px;
    aspect-ratio: 1;
    background-color: blueviolet;
    border-radius: 50%;
    margin-right: 16px;
}

.second {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left {
    display: flex;
    flex-direction: row;
}

.right {
    display: grid;
    grid-auto-flow: column;
    gap: 16px;
}

.btn {
    font-size: 16px;
    padding: 12px 36px;
    border: none;
    background-color: rgb(57, 137, 202);
    border-radius: 24px;
    color: white;
}

.bold {
    font-size: 32px;
    font-weight: 700;
}

.bold-img {
    height: 64px;
}

.grid-container {
    height: 100%;
    background-color: rgb(233, 233, 233);
    padding: 24px 16px;
}

.el {
    background-color: white;
    padding: 24px 16px;
    border-radius: 8px;
    border-left: 8px solid rgb(231, 220, 55);
}

.title {
    font-size: 16px;
    font-weight: 600;
    grid-column: 1/3;
}

.announcments {
    grid-column: 3/4;
    grid-row: 1 / 5;
    display: grid;
    gap:24px;
}

h3 {
    margin-bottom: 4px;
}
.par {
    color: gray;
}

.btns {
    display: flex;
    justify-content: end;
    gap: 24px;
}